body {
  font-family: Arial, sans-serif;
}

td {
  padding: 0;
}

#container {
  width: 100%;
  margin:0 auto;
}

#loggedInBar {
  border-bottom: solid 2px #E5ECF9;
  padding: 3px 10px 5px 0px;
  background-color:white;
  font-family: arial,sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
}

#loggedInBar a {
  font-weight: normal;
}

#content {
  border-top: 1px solid #427bd6;
  padding: 0px 30px;
}

tr {
  vertical-align: top;
}

#header {
  height: 50px;
  padding-left: 15px;
}

#selectSample {
  width: 30%;
  display: inline;
}

#code {
  width: 70%;
  display: inline;
}

#codeContainer {
  width: 80%;
  padding-left: 10px;
}

#acShadowDiv {
  width:100%;
  background: url(../images/drop_shadows/short_b1px.png) repeat;
  height:15px;
  position:absolute;
}

#edit, #selectCode {
  height: 320px;
}

#edit {
  overflow: hidden;
}

#grayOverlay {
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  background: black none repeat scroll 0% 0%;
  position: absolute;
  top: 0pt;
  left: 0pt;
  opacity: 0.5;
  z-index: 1001;
  filter: alpha(opacity = 50);
}

#saveFormSubmit {
  display: inline;
  width: 69px;
  height: 25px;
  cursor: pointer;
}

#cancelFormSubmit {
  display: inline;
  width: 82px;
  height: 25px;
  cursor: pointer;
}

#saveDiv {
  z-index:9999;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 300px;
  outline-style: none;
  outline-width: 0pt;
  display: none;
}

#selectContainer {
  width:20%;
  min-width: 240px;
}

.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  text-align: right;
  padding-right: .3em;
  font-size: 10pt;
  font-family: monospace;
  padding-top: 0;
}

.line-number {
  cursor: pointer;
}

.breakpoint {
  margin-right: 2px;
  margin-bottom: 1px;
  cursor: pointer;
}

#editor {
  background-color: #EBEBEB;
}

#selectCode {
  overflow: auto;
  background-color: white;
  padding-left: 5px;
}

.category {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: block;
}

#acDiv > ul > li {
  list-style-type: none;
  padding-right: 15px;
}

.supDocs a {
  text-decoration: none;
}

.categoryItems {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  font-size: 80%;
  font-family: Arial, sans-serif;
  padding-left: 0;
  line-height: 1.2em;
}

iframe {
  font-family: Arial, Helvetica, sans-serif;
}

#runFrame {
  font-family:Arial,Helvetica,sans-serif;
}

.contentTable {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

#header {
  margin: 0;
  display: inline;
  font-size: 26pt;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.bluehr {
  background-color:transparent;
  border:0 none;
  float:left;
  font-size:1.5em;
  font-weight:bold;
  line-height:1.3em;
  margin:0;
  padding:0 0 0 0.3em;
}

.allowDebugCode {
  cursor: pointer;
  opacity: 1.0;
}

.disallowDebugCode {
  opacity: 0.45;
  cursor: default;
}
a:link {
  color: #427bd6;
}

h2 {
  border-bottom:1px solid #CCCCCC;
  font-size: 0.9em;
  background-color: #427bd6;
  margin: 0;
  padding-left: 15px;
  font-family:Arial,Helvetica,sans-serif;
  height: 30px;
  color: white;
  font-weight: expression('bolder');
}

.headerFont {
  color: white;
  font-size: 0.9em;
  font-weight: expression('bolder');
}

.headerTable td{
  vertical-align: middle;
  padding: 0;
}
.headerTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin-top: -2px;
  padding: 0;
}

.whiteTopBar {
  background-color: white;
  font-size:1em;
  margin:0;
  padding:0.1em 0;
  white-space:nowrap;
  margin-left: 2px;
  margin-right: 2px;
}

li.selected {
  padding:0.2em 0 0.2em 15px;
  background-color:#E5ECF9;
  color:#000000;
  position:relative;
  text-decoration:none;
  z-index:2;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  vertical-align:middle;
  cursor: default;
}

li {
  padding-left: 15px;
  color: blue;
}

ul {
  padding: 0;
  margin: 0;
}

img.expand, img.collapse {
  border: medium none;
  height: 9px;
  margin-bottom: 4px;
  margin-right: 5px;
  padding: 0;
  position: relative;
  width: 9px;
  vertical-align: middle;
  cursor: pointer;
}

img.collapse {
  background-image: url(../images/normal_minus.png); /* The empty Plus */
}

img.collapse:hover {
  background-image: url(../images/pressed_minus.png); /* The filled Plus */
}

img.expand {
  background-image: url(../images/normal_plus.png); /* The empty plus */
}

img.expand:hover {
  background-image: url(../images/pressed_plus.png); /* The filled Plus */
}


td.footer {
  padding-top: 60px;
  width: 100%;
}

#googleLogoTD {
  text-align:right;
  vertical-align:middle;
  padding-right: 15px;
  padding-left: 30px;
}

#tab_bar {
  margin-top:20px;
  cursor: pointer;
}

#button_bar {
  text-align: right;
}

.roundedcornr_box {
  float:left;
  margin: 0 4px;
}

.border_tl {
  width: 9px;
  height: 9px;
  background: url(../images/border/border_tl.png);
}
.border_t {
  height: 9px;
  background: url(../images/border/border_t.png);
}
.border_tr {
  height: 9px;
  width: 9px;
  background: url(../images/border/border_tr.png);
}
.border_l {
  width: 9px;
  background: url(../images/border/border_l.png);
}
.border_r {
  width: 9px;
  background: url(../images/border/border_r.png);
}
.border_bl {
  width: 9px;
  height: 9px;
  background: url(../images/border/border_bl.png);
}
.border_b {
  height: 9px;
  background: url(../images/border/border_b.png);
}
.border_br {
  height: 9px;
  width: 9px;
  background: url(../images/border/border_br.png);
}

.db_top div {
  background: url(../images/db_tl.png) no-repeat top left;
}
.db_top {
  background: #92c1f0 url(../images/db_tr.png) no-repeat top right;
}

.lb_top div {
  background: url(../images/lb_tl.png) no-repeat top left;
}

.lb_top {
  background: #D0E4F6 url(../images/lb_tr.png) no-repeat top right;
}

.db_top div, .db_top,
.lb_top div, .lb_top {
  height: 5px;
  font-size: 1px;
}
.lb_roundedcornr_content,
.db_roundedcornr_content {
  padding: 0 10px;
  font-size: 80%;
}

.lb_roundedcornr_content {
  background-color: #D0E4F6;
}

.db_roundedcornr_content {
  background-color: #92c1f0;
}

span.category div {
  margin-left: 15px;
  margin-left: expression('10px');
}

span.categoryTitle {
  font-size: 90%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

span.subCategoryTitle {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: normal;
  cursor: pointer;
}

span.categoryOpen div, span.categoryOpen ul {
  display: block;
}

span.categoryClosed div, span.categoryClosed ul {
  display: none;
}
#runbox {
  width: 100%;
}

#runbox iframe {
  border: 0 none white;
  width: 100%;
  height: 100%;
}

#outputDiv {
  height: 100%;
  background-color: white;
}

.codeMenuTD {
  color: #4D4D4D;
  font-size: 80%;
  font-weight:normal;
  width: 265px;
}

.greyLinks a {
  color: #4D4D4D;
  cursor: pointer;
  font-weight:normal;
  text-decoration: none;
}

.explain {
  color:#676767;
  font-size: 80%;
}

.formLabel {
  font-size: 90%;
}

#demoTitle {
  overflow: hidden;
  text-overflow:ellipsis;
  -o-text-overflow : ellipsis;
  white-space: nowrap;
  color: #cee1ff;
  font-weight: expression('bolder');
}

/* ------ Autocomplete ------- */
.search_tl {
  width: 2px;
  height: 2px;
  background: url(../images/search_border/search_tl.png);
}
.search_t_b {
  height: 2px;
  background: url(../images/search_border/search_t_b.png);
}
.search_tr {
  height: 2px;
  width: 2px;
  background: url(../images/search_border/search_tr.png);
}
.search_l_r {
  height: 2px;
  background: url(../images/search_border/search_l_r.png);
}
.search_bl {
  width: 2px;
  height: 2px;
  background: url(../images/search_border/search_bl.png);
}
.search_br {
  height: 2px;
  width: 2px;
  background: url(../images/search_border/search_br.png);
}
td.searchContainer {
  background-color: white;
}
#search {
  outline:none;
  border: 0 none;
  padding-left: 5px;
  width: 100px;
}

.ui-autocomplete-results {
  border: 1px solid #999;
  z-index: 9999;
  background-color: white;
}

li.ui-autocomplete-odd, li.ui-autocomplete-even {
  color: black;
  text-decoration:none;
}

li.ui-autocomplete-odd > a > strong, li.ui-autocomplete-even > a > strong {
  font-size: 110%;
}

.ui-autocomplete-even {

}
.ui-autocomplete-odd {

}
.ui-autocomplete-over {
  background-color: #E5ECF9;
  cursor: pointer;
}
.ui-autocomplete-results > ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 3px;
}

.ui-autocomplete-even, .ui-autocomplete-odd {
  font-size: 0.8em;
  font-family: Arial, sans-serif;
}

/* ------ Dropdown Menu------- */
#codeMenuDrop {
  z-index:9998;
  position:relative;
  top:-8px;
}

.menuTop {
  background-image: url(../images/code_menu/menu-top.png);
  width: 200px;
  height: 9px;
  left: 2px;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.menuTile {
  background-image:url(../images/code_menu/menu-tile.png);
  background-repeat:repeat;
  position:relative;
  width:200px;
  left: 2px;
  top: expression('-8px');
}

.menuBottom {
  background-image: url(../images/code_menu/menu-bottom.png);
  width: 200px;
  height: 10px;
  left: 2px;
  position: relative;
  background-repeat: no-repeat;
  top: expression('-8px');
}

#docsLink {
  display: none;
  float:left;
}
#docsLink a:link {
  color: #427bd6;
}
#docsLink a:visited {
  color: #427bd6;
}
#docsLink a:active {
  color: #427bd6;
}

#docsButton {
  background:transparent url(../images/btn-view-docs.png) no-repeat;
  display: block;
  width: 105px;
  height: 25px;
  border: 0px none;
  margin-right: 5px;
}

#toggleEditHTMLButton {
  background:transparent url(../images/edit_HTML.png) no-repeat scroll;
  display:block;
  float:left;
  height: 25px;
  width: 113px;
  margin-right: 5px;
}

#dropdownButton {
  background:transparent url(../images/dropdown.png) no-repeat scroll;
  display:block;
  float:left;
  height:25px;
  vertical-align:bottom;
  width:34px;
  position: relative;
  right: -2px;
}

#codeMenu {
  float: right;
}

.draggerMid, .draggerBot {
  cursor: s-resize;
}

.dropdown {
  display: none;
  text-decoration: none;
  padding: 0;
  margin-top: -4px;
  right: 40px;
  position: absolute;
  color:#0033CC;
  text-align: left;
  cursor: pointer;
  z-index: 500;
}

.expanded {
  display: block;
}

.dropdown span {
  display: block;
  border-top:1px solid #ABB1BD;
  color: #0033CC;
  margin: 0px 6px;
  padding: 2px 0px;
  cursor: pointer;
  font-family:Arial,sans-serif;
  font-size:12px;
  font-weight: bold;
  h: expression(onmouseover=setBgColorWhite);
  m: expression(onmouseout=setBgColorBlue);
}

.dropdown span.first {
  border-top: 0px none;
}

.dropdown span:hover {
  background-color: white;
}

.buttonDropdownContainer {
  color:#0033CC;
  cursor:pointer;
  display:inline-block;
  text-decoration:none;
}
/* ------ Fix jQuery 'no drag over iFrame' CSS rules */
#dragsafe {
  position: absolute;
  top: 0;
  left: -800px;
  width: 800px;
  height: 800px;
  z-index: 9999;
}

/* ------ PUSH UP THE WEB CSS -------*/
#pushup {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 4px;
  background: #ffffc6;
  border: 1px solid #b0dfc8;
  z-index: 9000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
* html #pushup {
  position: absolute;
  top: expression(_pushupIETop = 10 + (document.documentElement.scrollTop || 0) + 'px');
}
#pushup * {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.withReminder { padding-bottom: 6px; }
#pushup a {
  outline-style: none;
  text-decoration: none;
}

#pushup .pushup_messageLink {
  float: left;
  position: relative;
  color: #4293cd;
  font-size: 12px;
  cursor: pointer;
}

#pushup .pushup_icon {
  position: relative;
  float: left;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: middle;
}

#pushup .pushup_message {
  position: relative;
  float: left;
  margin-right: 3px;
  line-height: 22px;
  vertical-align: middle;
}

#pushup .pushup_reminder {
  float: left;
  clear: both;
  font-size: 10px;
  color: #84a2ac;
  margin-left: 27px;
  cursor: pointer;
}

#pushup .pushup_messageLink:hover, #pushup .pushup_reminder:hover {
  text-decoration: underline;
}